body {
    background-color: #11113c;
    color: white;
    margin: auto;
    padding: auto;
}
input {
    background-color: black;
    color: white;
    width: 100%;
}
#registration,
#required,
#form, 
#upload,
#selector,
#beach
{
    margin-bottom: 25px;
}
